body {
    background-image: url(/img/Background/bg.jpg);
}

/* Header */
.header {
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #FBE0C4;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.logo1 img {
    width: 100px;
}

.logo2 img {
    width: 100px;
}

.title {
    text-align: center;
}

.title {
    color: #161E54;
}


.title ul {
    display: flex;
    list-style: none;
}

.title li {
    padding: 10px;
    padding-left: 120px;
}

.title a {
    color: #193498;
    text-decoration: none;
    font-weight: 500;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #193498;
    transition: .5s;

}

.link:hover::after {
    width: 100%;
}
.intro {
    width: 81%;
    margin: auto;
    background-color: #FB9300;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}
.intro-title{
    text-align: center;
}
.intro-desc{
    padding: 10px;
    background-color: #faa733;
}
.content2{
    width: 81%;
    margin: auto;
    background-color: #F54748;
    border-radius: 10px;
}
.icon{
    display: flex;
    align-items: center;
    padding: 10px;
}
.img img{
    width: 100px;
}
.text-icon{
    padding-left: 20px;
}
iframe{
    width: 100%;
}
.content-kuliner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
.kuliner{
    width: 45%;
    margin: 10px;
    background-color: #e46b6b;
    padding: 15px;
    border-radius: 10px;
}
.kuliner img{
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer {
    width: 81%;
    margin: auto;
    background-color: #343F56;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: #F5E6CA;
}
@media screen and (max-width: 390px) {
    .header {
        width: 100%;
    }

    .title h1 {
        font-size: 13pt;
    }

    .title li {
        padding-left: 20px;
    }

    .logo1 img {
        width: 70px;
    }

    .logo2 img {
        width: 70px;
    }

    .intro {
        width: 100%;
    }

    .content-kuliner {

        flex-direction: row;
    }

    .kuliner {
        width: 90%;
        padding-left: 10px;
    }

    .content2 {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer h3 {
        font-size: 13pt;
    }
}